<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpq.mybatispulslearn.saas.tenantmember2role.mapper.TTenantMember2roleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cpq.mybatispulslearn.saas.tenantmember2role.entity.TTenantMember2role">
        <id column="id" property="id" />
        <result column="tenant_member_id" property="tenantMemberId" />
        <result column="tenant_role_id" property="tenantRoleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_member_id, tenant_role_id
    </sql>

</mapper>
