<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.girl.mapper.GirlExpandMapper">

  <cache type="com.demo.redis.MybatisRedisCache"/>

  <select id="selectBoth" parameterType="float" resultType="java.util.Map">
    SELECT * FROM boy, girl
    WHERE boy.yan_val>#{val} AND girl.`boy_friend`=boy.`small_name` AND boy.`loyalty`=70
  </select>

</mapper>