<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="welcomeService" class="com.learn.a_start.WelcomeServiceImpl"/>

	<!-- 1.使用类的无参构造函数创建 -->
	<bean id="user1" class="com.learn.a_start.User" scope="singleton" lazy-init="true" primary="true"/>
	<alias name="user1" alias="userAlias1,userAlias2,userAlias3"/>

	<!-- 2.使用静态工厂进行创建 -->
	<!-- class的值不是写User对象的全路径，而是写静态工厂的全路径 -->
	<!-- factory-method的值写要调用的方法 -->
	<bean id="user2" class="com.learn.b_bean.factory.StaticFactory" factory-method="getUser" scope="singleton"/>
	<!-- 3.使用实例工厂进行创建 -->
	<!-- 需要先创建factoryBean对象，再通过factoryBean对象进行调用 -->
	<bean id="userFactory" class="com.learn.b_bean.factory.UserFactory"/>
	<bean id="user3" factory-bean="userFactory" factory-method="getUser" scope="prototype" />
	<bean id="userFactoryBean" class="com.learn.b_bean.factory.PrefixUserFactoryBean"/>

</beans>

