<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpq.mybatispulslearn.t3.mapper.T3Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cpq.mybatispulslearn.t3.entity.T3">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="info" property="info" />
        <result column="f1" property="f1" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, info, f1
    </sql>

</mapper>
