*.idea
*.mvn
**/target
*/*.log
*/.bpmn
*/.settings
*/.project
*/.classpath
/*.iml
**/*.iml
/web-whole/src/main/resources/rebel.xml
/web-whole/.rebel.xml.bak
/spring-cloud-learn/consul-client/consul-server/consul.exe

/spring-cloud-learn/spring-cloud-config-git
/build
/spring-cloud-learn/rabbitmq-server-3.6.5.exe
/spring-cloud-learn/otp_win64_19.1.exe
