*.idea
*.mvn
*target
**/target
*/*.log
*/.bpmn
*/.settings
*/.project
*/.classpath
/*.iml
**/*.iml
/web-whole/src/main/resources/rebel.xml
/web-whole/.rebel.xml.bak
/spring-cloud-learn/consul-client/consul-server/consul.exe

/spring-cloud-learn/spring-cloud-config-git
/build
/spring-cloud-learn/rabbitmq-server-3.6.5.exe
/spring-cloud-learn/otp_win64_19.1.exe

/params-validate
/test-params-validate

/spring-boot-learn/log
/spring-cloud-2/zipkin-server/zipkin-server-2.12.9-exec.jar
out
.gradle
*/gradle/wrapper
build
/project/gradle/gradle01/gradle
out
repos
