<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.old.sysuser.mapper.SysUserExpandMapper">

  <!--<cache type="com.demo.redis.MybatisRedisCache"/>-->

  <select id="selectUserRole" resultType="java.util.Map" parameterType="string">
    SELECT *
    FROM sys_user u, `sys_resource` s
    WHERE u.`role_id`=#{id} AND s.`res_index`=u.`role_id`
    AND s.p_id='2001'
  </select>

  <!--<select id="selectUserRole" resultType="java.util.Map" parameterType="int">
SELECT *
FROM sys_user u, sys_role r, `sys_resource` s
WHERE u.`role_id`=#{id} AND u.`role_id`=r.`remark`
AND s.p_id='2001'
  </select>-->

<!--  <select id="selectUserRole" resultType="java.util.Map" parameterType="int">
    SELECT *
    FROM sys_user u, sys_role r
    WHERE u.`role_id`=r.`remark` AND  u.`role_id`=#{id} AND r.`sys_type`='1'
  </select>-->

</mapper>