<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpq.mybatispulslearn.tenantrole.mapper.TTenantRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cpq.mybatispulslearn.tenantrole.entity.TTenantRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_type" property="roleType" />
        <result column="tenant_code" property="tenantCode" />
        <result column="comments" property="comments" />
        <result column="create_by" property="createBy" />
        <result column="create_by_name" property="createByName" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_by_name" property="updateByName" />
        <result column="update_time" property="updateTime" />
        <result column="sms_status" property="smsStatus" />
        <result column="link_role_id" property="linkRoleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_type, tenant_code, comments, create_by, create_by_name, create_time, update_by, update_by_name, update_time, sms_status, link_role_id
    </sql>

</mapper>
