<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>main页面</h1>

    <button id="btn1">获取后端数据</button>
    <div>展示后端数据：</div>
    <div id="btn1-show-msg"></div>
    <br/><br/><br/>

    <button id="btn2">根据环境获取application.properties的variable.a值</button>
    <div>展示后端数据：</div>
    <div id="btn2-show-msg"></div>
    <br/><br/><br/><br/>

    <button id="btn3">获取jar包中的xml</button>
    <div>展示后端数据：</div>
    <div id="btn3-show-msg"></div>
    <br/><br/><br/><br/>

    <button id="btn4">获取jar包中的Json</button>
    <div>展示后端数据：</div>
    <div id="btn4-show-msg"></div>
    <br/><br/><br/><br/>

    <button id="btn5">发送请求测试cookie中的token</button>
    <br/><br/><br/><br/>



    <script src="jquery-2.0.3.js"></script>
    <script>
        $("#btn1").on("click", function(){
            $.ajax({
                url: "/helloworld",
                type: "get"
            }).done(function(r){
                $("#btn1-show-msg").text(r);
            })
        });

        $("#btn2").on("click", function(){
            $.ajax({
                url: "/get/application/a",
                type: "get"
            }).done(function(r){
                $("#btn2-show-msg").text(r);
            })
        });

        $("#btn3").on("click", function(){
            $.ajax({
                url: "/xml/custom",
                type: "get"
            }).done(function(r){
                $("#btn3-show-msg").text(r);
            })
        });

        $("#btn4").on("click", function(){
            $.ajax({
                url: "/json/custom",
                type: "get"
            }).done(function(r){
                $("#btn4-show-msg").text(r);
            })
        });

        $("#btn5").on("click", function(){
            $.ajax({
                url: "/main/cookie",
                type: "get"
            }).done(function(r){
            })
        });

    </script>
</body>
</html>