<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 无参构造函数创建类 -->
    <bean id="user1" class="com.imooc.b_ioc_learn.User" lazy-init="true" primary="true"></bean>

    <alias name="user1" alias="userAlias1,userAlias2,userAlias3"></alias>

    <!-- StaticFactory.getUser()是静态方法 -->
    <bean id="user2" class="com.imooc.b_ioc_learn.factory.StaticFactory" factory-method="getUser" scope="singleton"></bean>

    <!-- UserFactory.getUser()是非静态方法，需要指定factory-bean -->
    <bean id="userFactory" class="com.imooc.b_ioc_learn.factory.UserFactory"></bean>
    <bean id="user3" factory-bean="userFactory" factory-method="getUser" scope="prototype"></bean>

    <bean id="prefixUserFactoryBean" class="com.imooc.b_ioc_learn.factory.PrefixUserFactoryBean"></bean>

</beans>