<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpq.mybatispulslearn.saas.adminrole.mapper.ZjAdminRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cpq.mybatispulslearn.saas.adminrole.entity.ZjAdminRole">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_detail" property="roleDetail" />
        <result column="role_access" property="roleAccess" />
        <result column="role_status" property="roleStatus" />
        <result column="role_addtime" property="roleAddtime" />
        <result column="role_isdelete" property="roleIsdelete" />
        <result column="sms_status" property="smsStatus" />
        <result column="report_access" property="reportAccess" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_name, role_detail, role_access, role_status, role_addtime, role_isdelete, sms_status, report_access
    </sql>

</mapper>
